@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@500&family=Oswald:wght@300&family=Poppins&family=Roboto+Condensed:wght@900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Work+Sans&display=swap');

body{
    padding: 0; margin: 0;
    background-image: url('https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/cricpro-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding-left: 100px;
    background-size: 80vw 80vh;
    background-position: 20vw 20vh;
    overflow: hidden;
}


#logo{
    position: absolute;
    top: 25px;
    right: 100px;
}

.title{
    margin-top: 100px;
    font-size: 44px;
    text-shadow: 0px 4px 5px #4e4e4e;
}

.subtitle{
    font-size: 24px;
    color: #8b8b8b;
    margin-top: -20px;
}

.table{
    width: 1000px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 18px;
}

.row{
    padding: 0 20px;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
.score{
    display: flex;
    justify-content: space-between;
}

.score p{
    margin: 10px;
}

.head1{
    color: white;
    font-weight: bold;
    background-color: #F05033;
}

.head2{
    font-size: 20px;
    font-weight: bold;
    background-color: #f3f3f3;
}

.status{
    width: 150px;
    text-align: left;
    color: #a5a5a5;
}



#names{
    color: blue;
    display: flex;
    margin-left: 150px;
}

#names p{
    cursor: pointer;
}

#image{
    position: absolute;
    z-index: 100;
    top: 50vh;
    left: 20vw;
    display:none;
}